/*.field__item img {margin:auto;}*/
.region > * {margin-bottom:0;}
.page-wrapper {max-width:100%;}
img {
    margin:auto;
}
p {padding-top:10px;}
h2 {margin-top:0;}
.field-content h2, h3 {
    color:#666666;
    font-size:1.5rem;
    margin-top:1rem;
    margin-bottom:1rem; 
}
.main-content__container {
padding-top: 3.625rem;
}
#main-wrapper {
Margin-bottom:20px;}

body {
background-image: none;
}
.container {
max-width: none;
}
.node--view-mode-full .field--tags {
    margin-bottom: 0;
}
.node__content {
    padding-bottom:0;
}
.views-field.views-field-title h2 {
    margin-bottom:1rem;
    margin-top: 2rem;
}
#block-sailingduet-views-block-slides-block-1 {
    background-color:#eeeeee;
    margin:auto;
}
.field.field--name-field-media-image.field--type-image.field--label-visually_hidden  {
    background-color:#eeeeee;
}
.path-frontpage .block__content {
    padding-top:1em;
}
.page-node-type-article .node__meta {
    margin-top:2.25rem;
    margin-bottom:0;
}
#views_slideshow_cycle_main_slides-block_1 {
    margin:2rem;
}
#views_slideshow_cycle_teaser_section_slides-block_1 {
    margin:auto;
}
.views-slideshow-controls-bottom.clearfix {
    margin-bottom:1rem;
}
