.field__item img {margin:auto;}

p {padding-top:10px;}

.region > * {margin-bottom:0}

.main-content__container {
padding-top: 3.625rem;
}
.views-slideshow-controls-bottom.clearfix, .views-slideshow-controls-top.clearfix
{	
text-align:center;
}

#main-wrapper {
Margin-bottom:20px;}

body {
background-image: none;
}
.container {
max-width: none;
}