/*.field__item img {margin:auto;}*/

.page-wrapper {max-width:100%;}

p {padding-top:10px;}

.region > * {margin-bottom:0;}

.main-content__container {
padding-top: 3.625rem;
}
/*.views-slideshow-controls-bottom.clearfix, .views-slideshow-controls-top.clearfix
{	
text-align:center;
}
*/
#main-wrapper {
Margin-bottom:20px;}

body {
background-image: none;
}
.container {
max-width: none;
}

#block-sailingduet-views-block-slides-block-1 {
  /*  padding-top: 2rem;*/
    background-color:#eeeeee;
}

.field.field--name-field-media-image.field--type-image.field--label-visually_hidden  {
    background-color:#eeeeee;
}

.field-content h2, h3 {
    color:#666666;
    font-size:1.5rem;
    margin-top:1rem;
    margin-bottom:1rem;
}
img {
    margin:auto;
}

.path-frontpage .block__content {
    padding-top:1em;
}
.page-node-type-article .node__meta {
    margin-top:2.25rem;
    margin-bottom:0;
}
.page-node-type-article .block__content {
    margin:2rem;
}